<div class="container mt-5 d-flex justify-content-center">
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Tipo de usuario
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="userNoAdmin()">Usurario final</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="userAdmin()">Usuario administrador</a></li>
        </ul>
    </div>
</div>